{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="deals">
</div>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/loader.css' %}">
{% endblock stylesheets %}
{% block extra_javascript %}
<script src="https://unpkg.com/regenerator-runtime@0.13.1/runtime.js"></script>
{{ currencies|json_script:"currencies" }}
<script>
  // const BUSINESS = JSON.parse("{{ business_json |safe }}")

  const USER = {
    id: {{ user.pk | safe }},
  name: '{{ user.name | safe}}',
    username : '{{ user.username | safe}}'

    }
  const IS_USER = true

</script>
<script src="{% static 'dist/js/DealsPage.js' %}"></script>
{% endblock extra_javascript %}
