body {
    margin: 0;
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
    text-align: left;
    background-color: #f5f8ff;
}

.search-nav input{
    width: 300px;
}

.create-form{
    display: grid;
    grid-template-columns: minmax(0px, 3fr) minmax(300px, 1fr);
    column-gap: 40px;
}
@media (max-width: 1000px){
  .create-form{
    grid-template-columns: 1fr;
  }
  .create-form div:nth-child(2){
    margin-top: 40px;
  }

}
.post-images{
    /* height: 300px; */
}

@media print {
    body > *  {
        display: hidden;
    }
    body > .no-print{
        display:hidden!important;
    }
    body > .printable {
        display: block!important;
    }
}