{% extends 'base.html' %}
{% load static thumbnail %}



{% block content %}

<div class="portada relative">
    <picture>
        <img src="{% static 'images/portada.jpg' %}" alt="">
    </picture>
    

    <div class="portada-texto absolute">
        <h2 class=""><span>¡Black Friday ya llegó a Laya shop!</span></h2>
    </div>
</div>
<div class="categories-container">
    <h3 class="title font-medium">Categorías principales</h3>
    <div class="categories">
        {% for category in categories %}
        <div class="box relative">
                    {% thumbnail category.banner "400x400" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                    <div class="inside-text absolute">
                        <h4>{{ category.name }}</h4>
                    </div>
            </div>
        {% endfor %}

    </div>
</div>
<div class="featured-container flex flex-col items-center">
    <h3 class="title">Destacados</h3>
    <div class="featured">
        <div class="box">
            <div class="flex items-center pb-2" >
                <img src="{% static 'images/featured/vintage-logo.jpg' %}" class="logo rounded-full" alt="">
                <h6 class="ml-4">Vintage Shop 80s</h6>
            </div>
            <img src="{% static 'images/featured/vintage-shop.jpg' %}" alt="">
        </div>
        <div class="box">
            <div class="flex items-center pb-2">
                <img src="{% static 'images/featured/neat-logo.jpg' %}" class="logo rounded-full" alt="">
                <h6 class="ml-4">N.E.A.T</h6>
            </div>
            <img src="{% static 'images/featured/neat-shop.jpg' %}" alt="">
        </div>
        <div class="box">
            <div class="flex items-center pb-2">
                <img src="{% static 'images/featured/nini-logo.jpg' %}" class="logo rounded-full" alt="">
                <h6 class="ml-4">Nini shop</h6>
            </div>
            <img src="{% static 'images/featured/nini-shop.jpg' %}" alt="">
        </div>
    </div>
</div>
{% endblock %}