{% extends 'dashboard/layouts/base.html' %}
{% load static %}

{% block content %}
<div id="chat_app">
</div>
{% endblock %}
{% block javascripts %}
<script src="https://unpkg.com/regenerator-runtime@0.13.1/runtime.js"></script>

<script>
    // const BUSINESS = JSON.parse("{{ business_json |safe }}")
    const BUSINESS = {
        slug: '{{ business.slug | safe}}'
    }
    const USER = {
        pk: {% firstof user.pk 'null' %},
        name: `{% firstof user.name 'null'%}`
    }

    console.log('Business', BUSINESS)
</script>
<script src="{% static 'dist/js/ChatPage.js' %}"></script>
{% endblock  %}