
<!DOCTYPE html>
<html lang="en">

<!-- Static assets - Used to load the Favicon -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    {% block title %} Open-Source Admin Panel {% endblock %}
  </title>

  <!-- Favicon - loaded as static -->
  <!-- <link href="{% static 'assets/img/brand/favicon.png' %}" rel="icon" type="image/png"> -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->

  <link href="/static/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="/static/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="/static/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />

  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.css" integrity="sha512-CmjeEOiBCtxpzzfuT2remy8NP++fmHRxR3LnsdQhVXzA3QqRMaJ3heF9zOB+c1lCWSwZkzSOWfTn1CdqgkW3EQ==" crossorigin="anonymous" />
  <!-- <link rel="stylesheet" href="{% static 'dashboard/dropzone.min.css' %}"> -->
  <link rel="stylesheet" href="{% static 'dashboard/styles.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/tailwind.css' %}">

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="">

  {% include "dashboard/includes/sidenav.html" %}

  <div class="main-content">

    {% include "dashboard/includes/navigation.html" %}

    {% block content %}{% endblock content %}

  </div>

  {% include "dashboard/includes/scripts.html" %}

  <!-- Specific JS goes HERE -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>
  <script src="{% static 'assets/js/argon-dashboard.min.js' %}"></script>
  <!-- <script src="{% static 'dashboard/dropzone.min.js' %}"></script> -->
  {% block javascripts %}{% endblock javascripts %}

</body>

</html>
