{% extends 'base.html' %}

{% block content %}
  <div class="px-4 lg:px-10 xl:px-16">
    <div class="py-2 flex flex-col">
      <h1 class="text-2xl font-medium md:my-4">{{ category.name }}</h1>
      <div class="w-100 md:hidden">
        <ul class="flex whitespace-no-wrap  overflow-x-auto py-2">
          {% for subcategory in subcategories %}
            <li class="mr-2">
              <a href="{% url 'posts:search' %}?subcategory={{ subcategory.pk }}">
                <span class="rounded-full bg-gray-200 py-1 px-2">{{ subcategory.name }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="flex">
      {#Sidebar que se esconde en mobile y se presenta en desktop#}
      <div class="hidden md:block w-56">
        <h3 class="text-xl font-medium">Subcategorias</h3>
        <ul class="pl-4">
          {% for subcategory in subcategories %}
            <li class="border-b my-2">
              <a href="{% url 'posts:search' %}?subcategory={{ subcategory.pk }}">
                <span>{{ subcategory.name }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div>
        {% if highlight %}
          <h3 class="text-2xl">Destacados</h3>
          <div class="flex overflow-x-auto py-4">
            {% for post in highlight %}
                <a href="{% url "posts:detail" post.business.slug post.pk %}">
                  <div class="flex flex-col mx-2 flex-none">
                    <h6>{{ post.business.name }}</h6>
                    {% if post.images %}
                      {% with media=post.images.all.0 %}
                        <img src="{{ media.thumbnail_200x200.url }}" width="{{ media.thumbnail_200x200.width }}"
                             height="{{ media.thumbnail_200x200.height }}" class="w-full h-auto rounded">
                      {% endwith %}
                    {% endif %}
                  </div>
                </a>
            {% endfor %}
          </div>
        {% endif %}
        {% for subcategory in subcategories_list %}
          {% if subcategory.posts %}
            <h4 class="text-2xl">{{ subcategory.subcategory.name }}</h4>

            <div class="flex overflow-x-auto py-4">
              {% for post in subcategory.posts %}
                <a href="{% url "posts:detail" post.business.slug post.pk %}">
                  <div class="flex flex-col mx-2 flex-none">
                  <h6>{{ post.business.name }}</h6>
                    {% if post.images %}
                      {% with media=post.images.all.0 %}
                        <img src="{{ media.thumbnail_200x200.url }}" width="{{ media.thumbnail_200x200.width }}"
                             height="{{ media.thumbnail_200x200.height }}" class="w-full h-auto rounded">
                      {% endwith %}
                    {% endif %}
                  </div>
                </a>



              {% endfor %}
            </div>

          {% endif %}
        {% endfor %}
      </div>

    </div>
  </div>


{% endblock %}
