{% extends 'base.html' %}
{% load static thumbnail crispy_forms_tags %}


{% block content %}
    <form method="get">
        {{ filter.form|crispy }}
        <input type="submit" />
    </form>
    <div class="flex flex-wrap">
        
        {% for post in filter.qs %}
            <div class="flex flex-col my-5 mx-2">
                <h1>{{post.title}}</h1>
                {% with media=post.images.first %}
                    {% thumbnail media.image "250x250" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% endwith %}
            </div>
        {% endfor %}
        <!-- {% for post in object_list %}
            <div class="flex flex-col my-5 mx-2">
                <h1>{{post.title}}</h1>
                {% with media=post.images.first %}
                    {% thumbnail media.image "250x250" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% endwith %}
            </div>
        {% endfor %} -->
    </div>
{% endblock %}