{% extends 'base.html' %}
{% load static crispy_forms_tags cache pagination %}

{% block title %}
  Busqueda en laya shop
{% endblock %}

{% block description %}
  Aqui podra utilizar nuestra herramienta de busqueda avanzada para encontrar lo que necesita
{% endblock %}

{% block meta_extra %}
  {# normalmente se usaria el site id, pero por el momento lo voy a dejar con .get_host #}
  <link rel="canonical" href="{{ request.get_host }}{% url 'posts:search' %}">

{% endblock %}

{% block content %}

  <div class="flex flex-col md:flex-row">
    <div id="search-component" style="min-width: 300px">
    </div>
    {% if object_list %}
      <div class="pt-8 grid grid-cols-2 gap-2 px-2 sm:grid-cols-3 md:grid-cols-5 sm:gap-4 sm:px-4 w-full">

        {% for post in object_list %}
          {# AQUI EMPIEZAN LOS ELEMENTOS #}
          <a href="{% url 'posts:detail' post.business.slug post.pk post.title_slug %}">
            <div class="flex flex-col ">
              {% if post.images %}
                {% with media=post.images.all.0 %}
                  <img src="{{ media.thumbnail_200x200.url }}" class="w-full h-auto rounded">
                {% endwith %}
              {% endif %}
              {% if post.discount %}
              {% endif %}

              <h3 class="truncate">{{ post.title }}</h3>

              <div class="flex items-start whitespace-no-wrap">
                {% if post.discount %}
                  <span class="text-black text-lg font-medium">{{ post.currency.symbol }} {{ post.final_price|floatformat:2 }}</span>
                  <span class="text-red-700 line-through text-sm ml-2">{{ post.currency.symbol }} {{ post.price|floatformat:2 }}</span>
                {% else %}
                  <span class="text-black text-lg font-medium">{{ post.currency.symbol }} {{ post.price|floatformat:2 }}</span>
                {% endif %}
              </div>
              <div class="text-sm text-gray-600">
                Califación: {{ post.score }} estrellas
              </div>
              <div class="text-sm text-gray-600">
                <p>Estado: {% if post.state == 1 %}Nuevo{% endif %}{% if post.state == 2 %}Usado{% endif %}
                  {% if post.state == 3 %}Por pedido{% endif %}</p>
              </div>
              <div class="flex flex-wrap">
                {% if post.discount %}
                  <span class="mr-2 mt-1 rounded bg-red-200 py-1 px-2 text-xs">Descuento</span>
                {% endif %}
                {% if post.promo %}
                  <span class="mr-2 mt-1 rounded bg-blue-200 py-1 px-2 text-xs">Promoción</span>
                {% endif %}
                {% if post.is_new %}
                  <span class="mr-2 mt-1 rounded bg-green-200 py-1 px-2 text-xs">Novedad</span>
                {% endif %}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <div class="py-10 px-5 text-center text-2xl">
        <h1>No hemos encontrado resultados para lo que estabas buscando 🥺</h1>
      </div>
    {% endif %}
  </div>
  <div class="pagination mt-5 flex flex-col w-full items-end px-2">
    <div class="step-links ml-auto">
      {% if page_obj.has_previous %}
        <a href="?{% url_replace request 'page' 1 %}" class="py-2 px-4 bg-blue-500 rounded text-white ">Inicio</a>
        <a href="?{% url_replace request 'page' page_obj.previous_page_number  %}" class="py-2 px-4 bg-blue-500 rounded text-white ">Anterior</a>
      {% endif %}
      {% if page_obj.has_next %}
        <a href="?{% url_replace request 'page' page_obj.next_page_number %}" class="py-2 px-4 bg-blue-500 rounded text-white ">Siguiente</a>
        <a href="?page={{ page_obj.paginator.num_pages }}"  class="py-2 px-4 bg-blue-500 rounded text-white ">Ultimo</a>
      {% endif %}
    </div>
    <h4 class="ml-auto mt-2 text-lg">Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</h4>
  </div>
{% endblock %}

{% block extra_javascript %}
  {{ categories|json_script:"categories" }}
  <script src="{% static 'dist/js/SearchPageWidget.js' %}"></script>
{% endblock %}


