{% extends 'base.html' %}
{% load static crispy_forms_tags cache %}


{% block content %}
  <div class="flex flex-col md:flex-row">
    {% if object_list %}
      <div id="search-component" style="min-width: 300px">
      </div>
      <div class="pt-8 grid grid-cols-2 gap-2 px-2 sm:grid-cols-3 md:grid-cols-4 sm:gap-4 sm:px-4">

        {% for post in object_list %}
          {# AQUI EMPIEZAN LOS ELEMENTOS #}
          <a href="{% url 'posts:detail' post.pk %}">
            <div class="flex flex-col ">
              {% if post.images %}
                {% with media=post.images.all.0 %}
                  <img src="{{ media.thumbnail_200x200.url }}" class="w-full h-auto rounded">
                {% endwith %}
              {% endif %}
              {% if post.discount %}
              {% endif %}

              <h3 class="truncate">{{ post.title }}</h3>

              <div class="flex items-start whitespace-no-wrap">
                {% if post.discount %}
                  <span class="text-black text-lg font-medium">{{ post.currency.symbol }} {{ post.final_price|floatformat:2 }}</span>
                  <span class="text-red-700 line-through text-sm ml-2">{{ post.currency.symbol }} {{ post.price|floatformat:2 }}</span>
                {% else %}
                  <span class="text-black text-lg font-medium">{{ post.currency.symbol }} {{ post.price|floatformat:2 }}</span>
                {% endif %}
              </div>
              <div class="text-sm text-gray-600">
                <p>Estado: {% if post.state == 1 %}Nuevo{% endif %}{% if post.state == 2 %}Usado{% endif %}
                  {% if post.state == 3 %}Por pedido{% endif %}</p>
              </div>
              <div class="flex flex-wrap">
                {% if post.discount %}
                  <span class="mr-2 mt-1 rounded bg-red-200 py-1 px-2 text-xs">Descuento</span>
                {% endif %}
                {% if post.promo %}
                  <span class="mr-2 mt-1 rounded bg-blue-200 py-1 px-2 text-xs">Promoción</span>
                {% endif %}
                {% if post.is_new %}
                  <span class="mr-2 mt-1 rounded bg-green-200 py-1 px-2 text-xs">Novedad</span>
                {% endif %}
              </div>
            </div>
          </a>
        {% endfor %}

      </div>
    {% else %}
      <div class="py-10 px-5 text-center text-2xl">
        <h1>No hemos encontrado resultados para lo que estabas buscando 🥺</h1>
      </div>
    {% endif %}
  </div>

{% endblock %}

{% block javascript %}
  {{ categories|json_script:"categories" }}
  <script src="{% static 'dist/js/SearchPageWidget.js' %}"></script>
{% endblock %}


