.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

  @media print {
    body > *  {
        display: hidden;
    }

    body > .no-print{
        display:hidden!important;
    }

    body > .printable {
        display: block!important;
    }
}